body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(/BTH3/images/plan-page.jpg);
    font-size: 16px;
    width: 1180px;
}
article{
    background: #262626;
    display: inline-block;
    margin: 80px 20px 0 20px;
    border: 5px solid #424242;
    color: #a1a1a1;
        
}
section{
    display: flex;
    gap: 30px;
    text-align: center;
    margin-left: 200px;
}
article h1{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}
.price{
    color:  #27dcc4;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
article p:nth-of-type(1){
    width: 35ch;
    text-align: center;
    
}
article ul{
    padding: 20px;
}
article ul li{
    list-style-type: none;
    text-align: center;
    line-height: 30px;
    padding: 5px 0;
}
button{
    background: #27dcc4;
    color: #FFF;
    font-size: 0.9em;
    padding: 10px 20px;
    margin:10px 0px;
    border: none;
    cursor: pointer;
    text-align: center;
}
button:hover{
    background-color: #ACACAC;;
}
article:hover{
    transform:translateY(-10px);
}
