body {
	padding: 0px;
	margin: 0px;
	
}

.container {
	width: 60%;
	display: block;
	margin: 0px auto;
}

.main {
	width: 100%;
	display: flex;
}

.main .content {
	width: 70%;
	box-shadow: 5px 0px 5px -5px black;
	text-align: justify;
	padding-right: 25px;
}
.main .menu-right {
	width: 30%;
	padding-left: 20px;
}

.panel {
	display: block;
}
.header h1{
	color: rgb(10, 154, 238);
}
.header h3{
	color: rgb(9, 86, 211);
}
.top{
	background-image: linear-gradient(to right, rgb(174, 231, 239),rgb(8, 194, 178));
	padding: 10px;
}

.menu{
	background-color: rgb(12, 244, 82);
	width: 70%;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	color: white;
	border-right: 1px solid white;
	padding: 5px;
	
}
.header .search{
	background-color: rgb(255, 165, 0);
	text-align: center;
}

.navbar {
  display: flex;
  background-color: rgb(12, 244, 82) ;
  

}
.search{
	width: 30%;
}
.search form{
	margin-top: 20px;
	padding-right: 25px;
}
.search form button{
	background-color: rgb(27, 195, 38);
}

.panel-heading{
	background-color: rgb(12, 244, 82) ;
	color: white;
	padding: 5px;
	margin-top: 10px;
	font-weight: bold;
}
.panel-body ul li{
	list-style-type: none;
	border-bottom: 1px solid gainsboro;
	
}


