.header{
    color: #9fc2f8;
    font-size: 1.5rem;
    font-weight: bold;

}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#595547;
    font-size: 14px;
    color: white;
}
.content {
    font-size: 0.75rem;
    padding:0px 0px 10px 0px;
    
}
.content-1 {
    font-size:0.75rem;
    padding:0px 0px 5px 0px;
    border-bottom: 1px solid white;
}
.title{
    color: #9fc2f8;
    font-size: 1.2rem;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
    text-decoration: underline;
}
.Pics{
    display: flex;
    flex-direction: row;
}
